---
import { Image } from 'astro:assets'
interface Props {
  title: string
  num: number
  image: ImageMetadata
  href: string
}
const props = Astro.props
---

<a
  href={props.href}
  class="rounded overflow-hidden border border-gray-200 shadow"
>
  <Image
    src={props.image}
    alt={props.title}
  />
  <div class="px-4 py-4">
    <p class="text-xs text-gray-600">Challenge #{props.num}</p>
    <p class="font-medium text-gray-800">{props.title}</p>
  </div>
</a>
